{% extends 'main/base.html' %}
{% block content %}
<h2>Riwayat Pendidikan</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>Tahun</th>
        <th>Institusi</th>
    </tr>
    <tr>
        <td>2022 - 2025</td>
        <td>SMKN 3 DEPOK</td>
    </tr>
    <tr>
        <td>2025 - Sekarang</td>
        <td>STT TERPADU NURUL FIKRI</td>
    </tr>
</table>

<h2 class="mt-4">Pengalaman Organisasi</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>Tahun</th>
        <th>Organisasi</th>
        <th>Jabatan</th>
    </tr>
    <tr>
        <td>2025</td>
        <td>Karang Taruna</td>
        <td>Anggota</td>
    </tr>
    <tr>
        <td>2025</td>
        <td>DPRA MEKARJAYA</td>
        <td>Humas</td>
    </tr>
</table>
{% endblock %}
